@model WebApp.Models.AcceptedRecyclable

@{
    ViewData["Title"] = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Принятое вторсырьё</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Model.Employee.Surname @Model.Employee.Name @Model.Employee.Patronymic
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecyclableType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecyclableType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-info">Вернуться к списку</a>
    </form>
</div>
